/*********************** HTML ***********************/
html {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    margin: 0px 0px 0px 0px;
    text-align: left;
}

h1{
    color: #FFFFFF;
    font-size: 64pt;
}

h2{
    color: #FFFFFF;
    font-size: 40pt;
    margin: -20px 0px 20px 0px;
    font-weight: bolder;
}

h3{
    color: #FFFFFF;
    font-size: 32pt;
    margin: 15px 0px 0px 15px;
    /* font-weight: bolder; */
}

p{
    color: #FFFFFF;
    font-size: 24pt;
    /* justify-content: flex-end;
    align-items: flex-end; */
    margin: 15px 0px 10px 15px;
}

table{
    border: 3px solid #505255;   
    border-radius: 50px;
    background-color: #121212;
    margin: 5px 20px 5px 0px;
}

tr,td {
    padding: 0px 20px 0px 10px;
}

a {
    color: #9C9D9E;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    
}

table:hover {
    background: #505255;
    transition-duration: 0.2s;
}



/********************* CLASSES **********************/

.center {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* border: red solid 1px; */
    padding: 10px 0px 0px 10px;
    margin: 5px 5px 5px 5px;
}

.buttons {
    padding: 10px 0px 100px 0px;
    display: flex;
    justify-content: left;
}

.projectTiles {
    /* border: red solid 1px; */
    /* padding: 150px 0px 0px 75px;
    margin: 5px 5px 5px 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 95%;
}

.tile {
    border: #505255 solid 1px;
    /* display: flex; */
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #121212;
    width: 850px;
    height: 300px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.tile:hover {
    /* border: #505255 solid 2px; */
    margin: 8px 8px 8px 8px;
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.icon {
    padding: 5px 0px 0px 10px;

}

