/*********************** HTML ***********************/
html {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    margin: 0px 0px 0px 0px;
    text-align: center;
}

h1{
    color: #00E59B;
    font-size: 64pt;
}

h2{
    color: #FFFFFF;
    font-size: 24pt;
    margin: -20px 0px 20px 0px;
    font-weight: bolder;
}

table{
    border: 3px solid #505255;   
    border-radius: 50px;
    background-color: #121212;
    margin: 5px 10px 5px 10px;
}

tr,td {
    padding: 0px 20px 0px 10px;
}

a {
    color: #9C9D9E;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    
}

table:hover {
    background: #505255;
}



/********************* CLASSES **********************/

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
}

.buttons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.icon {
    padding: 5px 0px 0px 10px;

}

